# Ignorar la carpeta node_modules
node_modules/

# Ignorar la carpeta logs
logs/

# Ignorar archivos de entorno
.env

# Ignorar archivos de configuración específicos del sistema operativo
.DS_Store
Thumbs.db
